*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(0,rgba(255,0,0,0.5)),rgba(0,0,255,0.5);
    margin: 0 auto;
}
#header{
    display: flex;
    justify-content: flex-start;
}
#nav{
    display: inline-block;
}
.navbar{
    margin-left: 40px;
}
ul{
    list-style: none;
}
#header{
    height: 50px;
    background-color:#e2f0f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#search{
    line-height: 50px;
}
.search-icon{
    font-size: 30px;
    float: right;
    margin-left: 300px;
    padding-right: 20px;
    padding-left: 20px;

}
.search-icon:hover{
   background-color: gray;
   color: white;
}

img{
    
    height: 50px;
    width: auto;
}
.subnav1 , .subnav2{
    display: none;
}
#nav li  {
    display: inline-block;
}
#nav li a{
    line-height: 50px;
    color: black;
    text-decoration: none;
    padding: 0px 30px;
    display: inline-block;
    margin-left: 25px;
}
#nav li:hover a{
    background-color: gray;
    color: white;
}
#silder{
    padding-top: 40%;
    background: url(https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/240685600_1229305167538002_6887909388112459205_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=ae9488&_nc_ohc=NE3j8OS8oSQAX_qeD1G&_nc_ht=scontent.fsgn2-6.fna&oh=9380c7b1a22b5030062b69d38c3890ce&oe=615855DF) top center / cover no-repeat;
    position: relative;
    margin-top: 50px;
}
.poster{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cmt1{
    color: white;
}
.cmt2{
    color: white;
    margin-bottom: 30px;
    margin-top: 15px;
}
#content{
}
.leftm{
    width: 1170px;
    background-color: blueviolet;
    float: left;
    min-height:2083px ;
}
.rightm{
    width: 305px;
    background-color: palevioletred;
    float: left;
    min-height:2083px ;
}
.name1{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
#a5,#a6,#a7,#a8,#a9,#a10{
	font-size: 18px;
    margin-top: 15px ;
    margin-bottom: 10px;
    margin-left: 10px;
    text-indent: 35px;
}
.imgg{
    width: 500px;
    height: 300px;
    margin-left: 10px;
}
.name2{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.imgg2{
    width: 200px;
    height: auto;
    margin-bottom: 20.8px;
   margin-left: 25px;
  
}
#footer{
	background: gray;
	height: 135px;
	line-height: 15px;
	text-align: center;
	clear: left;
}
.end1{
    margin-bottom: 15px;
  
}
.test1 li a{
    color: white;
    text-decoration: none;
}
.test1 li a:hover{
    color: red;
}

.test2 li a{
    text-decoration: none;
    color: white;
}

.test2 li a:hover{
    color: green;
}
.test2 h4 {
    margin-bottom: 20px;
    margin-left: 10px;
}
.test1 h3{
    margin-bottom: 15px;
    margin-left: 10px;
}

